<h2><b>Actual product list:</b></h2>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th class="col-sm-1">ID</th>
        <th class="col-sm-5">Title</th>
        <th class="col-sm-1">Cost</th>
        <th class="col-sm-2">Count</th>
        <th class="col-sm-3"></th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr ng-repeat="product in productList.content">
        <td>
            {{product.id}}
        </td>
        <td>
            {{product.title}}
        </td>
        <td>
            {{product.cost}}
        </td>
        <td>
            <button class="btn btn-primary" ng-click="btnMinusClick(product)">-</button>
            <span>{{product.count}}</span>
            <button class="btn btn-primary" ng-click="btnPlusClick(product)">+</button>
        </td>
        <td>
            <!--                        <button class="btn btn-info" ng-click="">Edit</button>-->
            <button class="btn btn-warning" ng-click="btnDeleteProduct(product.id)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>

<div>&nbsp;</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center flex-wrap">
        <li class="page-item">
            <button class="page-link" ng-click="loadProducts(1)">First</button>
        </li>
        <li class="page-item" ng-repeat="pageIndex in paginationArray">
            <button class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</button>
        </li>
        <li class="page-item">
            <button class="page-link" ng-click="loadProducts(paginationArray.length)">Last</button>
        </li>
    </ul>
</nav>
<div>&nbsp;</div>

<div class="row m-3">
    <!--                <button class="btn btn-check btn-primary" ng-click="btnAddNew()">Post new</button>-->
    &nbsp;
    <button class="btn btn-check btn-dark" ng-click="btnRefreshList()">Refresh</button>
</div>
