<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Product List')"></head>
<body>
    <div class="container-fluid p-2">
<!--         <h2 style="align-content: center">Actual Product List:</h2>-->
         <div>
            <table class="table table-bordered table-striped">
                <caption class="caption-top">Actual Product List</caption>

                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Cost</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each="product : ${productList}">
                        <td>
                            [[${product.id}]]
                        </td>
                        <td>
                            [[${product.title}]]
                        </td>
                        <td>
                            [[${product.cost}]]
                        </td>
                        <td>
                            <a th:href="@{'/products/edit/' + ${product.id}}" class="btn btn-secondary">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <a th:href="@{'/products/new'}" role="button" class="btn btn-primary m-3">Add new</a>
             <a th:href="@{'/products/refresh'}" role="button" class="btn btn-warning">Refresh</a>
         </div>


    </div>
</body>
</html>