<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>GeekBrains Spring Framework</title>
</head>
<body>
<div class="container-fluid">

  <div th:replace="navigation :: header_menu"></div>

    <h1>
      <b>Homework 4 welcome</b>
    </h1>
</div>
</body>
</html>